h2 {
  margin-bottom: 20px;
}

textarea {
  padding: 8px;
  width: 100%;
  min-height: 80px;
  border-radius: 5px;
  resize: vertical;
  outline: none;
  font-size: inherit;
  margin-bottom: 10px;
}

.oldPosts {
  margin-top: 80px;
}
