/* .selectedPage {
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.page {
  cursor: pointer;
  margin-right: 5px;
}

.pagesList {
  margin-bottom: 30px;
} */

.paginator {
  margin: 10px;
}

.pageNumber {
  padding: 2px;
  border: 1px solid #808080;
}

.pageNumber.selectedPage {
  font-weight: 600;
  border-color: #000;
}
