.aside {
  grid-area: aside;
  background-color: #bfd7ed;
  border-radius: 10px;
  font-family: Anton;
  text-transform: uppercase;
  color: #0c1713;
}

.imgAside {
  border-radius: 50%;
  cursor: pointer;
  max-width: 50px;
  margin: 5px;
}

.item {
  padding: 8px;
  cursor: pointer;
}

.item:hover {
  color: #1f1f1faf;
  background-color: #b1b1b160;
  border-radius: 10px;
}

.activeLink {
  color: #fff;
}

.friends {
  padding: 8px;
}

.nav {
  margin-bottom: 100px;
}
