.aside {
  grid-area: aside;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  color: #0c1713;
  margin-bottom: 20px;
}

.imgAside {
  border-radius: 50%;
  cursor: pointer;
  max-width: 50px;
  margin: 5px;
}

.item {
  padding: 8px;
  cursor: pointer;
}

.item:hover {
  color: #1f1f1faf;
  background-color: #b1b1b160;
  border-radius: 10px;
}

.activeLink {
  color: #fff;
}

.friends {
  padding: 20px;
}

.nav {
  margin-bottom: 100px;
}

.friendsAvatar {
  text-align: center;
}
