.header {
  grid-area: header;
  background-color: #0c1713;
  border-radius: 20px;
}

.header img {
  width: 80px;
  padding: 8px;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginBlock {
  padding: 15px;
}
