.header {
  grid-area: header;
  background-color: #274472;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  display: flex;
}

.headerIcon {
  width: 20px;
  height: 20px;
  padding: 13px 24px;
  transition: all 0.2s ease;
}

.headerIcon:hover {
  color: #7091b6;
}

.headerItem {
  transition: all 0.2s ease;
}

.headerItem:hover {
  background-color: #fff;
}

.headerButton {
  margin-left: 30px;
}
