/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background-color: #f5f7f8;
  color: #f0f8ff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: none;
}

h2 {
  color: #0c1713;
  font-size: 30px;
}

.button {
  padding: 14px 24px;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  color: #f0f8ff;
  background-color: #274472;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #6a96bdca;
  color: #0c1713;
}

.buttonLight {
  padding: 14px 24px;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  color: #0c1713;
  background-color: #f0f8ff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.buttonLight:hover {
  background-color: #a03333;
  color: #f0f8ff;
}
